
/* Your CSS Code here. */https://www.svgrepo.com/show/345221/three-dots.svg

#job {
	  width: 150px; 
	height:150px;
	background:#000000;
}
.hello-accio{
	color:#ffffff;
	margin-left:32px;
	padding:10px;
}